Source: beancash
Section: utils
Priority: optional
Maintainer: Shawn Kent <admin@bitbean.org>
Uploaders: Shawn Kent <admin@bitbean.org>
Build-Depends: debhelper,
 devscripts,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb5.3++-dev,
 libssl-dev,
 pkg-config,
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev
Standards-Version: 3.9.2
Homepage: http://www.beancash.org/
Vcs-Git: git@github.com:teambean/BeanCash.git
Vcs-Browser: https://github.com/teambean/BeanCash

Package: Beancashd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Beancash is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 By default connects to DNS seeders (stalk1.bitbean.org, stalk2.bitbean.org, 
stalk3.bitbean.org, stalk1.beancash.org, stalk2.beancash.org, stalk3.beancash.org) 
to discover other peers - in addition to hard-coded clients within the source.
 .
 Full transaction history is stored locally at each client.  This
 requires 2+ GB of space, slowly growing.
 .
 This package provides Beancashd, a combined daemon and CLI tool to
 interact with the daemon.

Package: Beancash-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Bitbean is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 By default connects to DNS seeders (stalk1.bitbean.org, stalk2.bitbean.org, 
stalk3.bitbean.org, stalk1.beancash.org, stalk2.beancash.org, stalk3.beancash.org) 
to discover other peers - in addition to hard-coded clients within the source.
 .
 Full transaction history is stored locally at each client.  This
 requires 2+ GB of space, slowly growing.
 .
 This package provides Beancash-Qt, a GUI for Bean Cash based on Qt.
