#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_beancash
#build/Beancashd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_beancash)

DEB_INSTALL_EXAMPLES_Beancashd += debian/examples/*
DEB_INSTALL_MANPAGES_Beancashd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Beancashd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Beancash-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Beancash-qt.pro USE_UPNP=- USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_beancash
	src/test_beancash

# Ensure wrapper is set executable
binary-post-install/Beancashd:
	chmod +x $(cdbs_curdestdir)usr/bin/Beancashd
binary-post-install/Beancash-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Beancash-qt
